@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

img {
    max-width: 100%;
    width: 100%;
    display: block;
    margin-top: 2em;
}

h2,h3,
.widget-recent-title {
    font-family: 'Lora';
    font-size: 1.5rem;
    color: #143774;
    margin-bottom: 0.70em;
}

h3 {
    font-size: 1.26rem;
    color: #1792D2;
}

.widget-recent-title {
    font-size: 1.15rem;
}

.container {
    margin: 0 auto;
    padding: 2em 0;
    max-width: 940px;    
}

.cont {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.flex-container {
    margin: 0 1.50em;
}

p {
    color: #707070;
}

footer {
    background-color: #143774;
    text-align: center;
    padding: 1em 0;
    margin-top: 4em;
}

footer p {
    color: white;
}

.main-center {
    width: 100%;
}
/*===========================
    HEADER LAYOUT START
=============================*/

header {
    background-color: #F8F8F8;
    text-align: center;
}

.header-para .title {
    font-family: 'Lora', serif;
    font-size: 1.50rem;
    color: #143774;
    margin: 0;
}

.sub-title {
    color: #1792D2;
    font-size: .75rem;
    font-weight: 700;
    margin: 0;
}

nav {
    margin: 1.30em 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 0;
}

nav a {
    text-decoration: none;
    font-weight: 700;
    font-size: .75rem;
    color: #707070;
    text-transform: uppercase;
}
    a:hover,
    a:focus {
        color: #1792D2;
    }

.focused-page {
    padding: .25em 0;
    border-bottom: 2px solid #707070;
}    

/*===========================
    HEADER LAYOUT END
=============================*/


/*===========================
    MAIN ARTICLE LAYOUT START
=============================*/

.article-body-boldline {
    font-weight: 500;
    color: #4b4a4a;
}

.article-info {
    font-weight: 400;
    font-size: .875rem;
    color: #707070;
    margin-top: 1.80em;
    margin-bottom: 0;
}

.article-body {
    font-size: 1.125rem;
    font-weight: 400;
    color: #707070;
    margin-top: 0;
}

.read-more {
    text-decoration: none;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
}

    .read-more:visited,
    .article-body-link:visited {
        color: blue;
    }


.article-featured {
    border-bottom: solid 2px #707070;
    padding-bottom: 2em;
    margin-bottom: .20em;
}

.article-recent {
    display: flex;
    flex-direction: column;
}

.article-recent-main {
    order: 2;
}

.article-recent-sec {
    order: 1;
}

.article-body-margin {
    margin-top: 1em;
}

.article-recent-main-margin {
    margin-bottom: 4em;
}

/*===========================
    MAIN ARTICLE LAYOUT END
=============================*/



/*===========================
    SIDEBAR WIDGET LAYOUT START
=============================*/

.sidebar-title {
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-top: 0;
}

.sidebar-widget,
.sidebar-recent-project {
    margin-bottom: 5em;
    border: 20px #EBEBEB solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.man-img {
    width: 100%;
    height: 11rem;
    object-fit: cover;
    margin: 0;
    margin-bottom: 1.20em;
}

.widget-body {
    color: #143774;
    font-size: .9rem;
    margin-bottom: 0;
}

.sidebar-widget-margin {
    margin: 0 1.5em;
    padding: 2em 0;
}

.widget-recent-title {
    text-decoration: none;
    color: rgb(86, 86, 222);
    font-size: 1.20rem;
    order: 1;
}

.widget-img {
    order: -1;
    margin-top: 0;
}

.widget-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px #707070 solid;
    margin-bottom: 2em;
}

.no-border-bottom {
    border: none;
    margin-bottom: 0;
}

/*===========================
    SIDEBAR WIDGET LAYOUT END
=============================*/



/*===========================
    ABOUT ME SECTION LAYOUT START
=============================*/

.author-img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    margin-top: 0;
}

/*===========================
    ABOUT ME SECTION LAYOUT END
=============================*/


@media screen and (min-width: 600px) {
    
    .flex-container {
        display: flex;
        justify-content: space-between;
    }

    main {
        width: 65%;
    }

    aside {
        width: 30%;
    }

    .article-recent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .article-recent-main {
        width: 70%;
    }

    .article-recent-sec {
        width: 25%;
    }

    img {
        margin-top: 1.6em;
    }

    .article-img {
        width: 100%;
        min-height: 11rem;
        object-fit: cover;
    }

    html {
        font-size: 90%;
    }

    .article-featured {
        display: flex;
        flex-direction: column;
    }
   
    .article-big-img {
        order: -3;
        margin-top: 0;
    }

    .article-info-order-change {
        order: -2;
    }

    .article-title-order-change {
        order: 0;
        margin-bottom: 0;
    }

}

@media screen and (min-width: 900px) {
    
    .container {
        margin: 0 auto;
    }

}